body{
    font-family: "century gothic",Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color:#dceaf1f2;

}                                                        

.container{
    width: 80%;
    margin: auto;
    overflow:  hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    background: aqua;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}

img{
    width: 100px;
    height: 100px;
}
.dark{
    padding: 15px;
    background: #001D31;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* header */

header{
    background-color:  #001D31;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: aqua solid 4px;
}
header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;   
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: aqua;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

        /* showcase */
        #showcase{
            min-height: 400px;
            background-image: url(B.jpg);
            background-repeat: no-repeat 0 -300px;
            text-align: center;
            color: white;   
        }
  #showcase h1{
      margin-top: 100px;
      font-size: 60px;
      margin-bottom:10px; 
  }
  
  #showcase p{
      font-size: 20px;
  }

  #newsletter{
      padding: 8px;
      color:white;
      background: #001D31;
  }
 #newsletter h1{
     float: left;
 } 
 #newsletter form{
     float: right;
     padding-top: 20px;
 }
 #newsletter input[type="email"]{
      padding: 4px;
      height: 25px;
      width: 250px;
 }
    /* boxes */

#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
        /* side bar */
        aside#sidebar{
            float: right;
            width: 30%;
            margin-top: 10px;
        }

    article#main-col{
        float: left;
        width: 65%;

    }   
    /* services  */
    .page-title{
        text-align: center;
        font-weight: bold;
    }
    ul#services li{
        list-style-type: none;
        border: aqua solid 1px;
        padding: 20px;
        /* margin-bottom: 5px; */
        background: #001D31;
        color: white;
        text-align: center;
        /* width: 80%; */
        margin: auto;
    }
    .p{
        color: aqua;
        font-weight: bold;
    }

/* footer */

footer{
    padding: 20px;
    margin-top: 20px;
    background-color: #001D31;
    text-align: center;
    color: white;

}
@media(max-width: 768px)
{
   header #branding, 
   header nav, 
   header nav li
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   article#main-col,
   aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding: 20px
    }
    #showcase h1{
        margin-top: 35px;
 }
    #newsletter button {
        display: block;
        width: 100%;
}
#newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;

}
.h{
    text-align: center;
}
}